<div class="container">
  <h1>
    Hello <%= current_user.name %>
    <small><%= current_user.cohort.name if current_user.cohort %></small>
  </h1>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <p>Your last push was</p>
  </div>
  <div class="col-md-4 text-center">
    <p>Total commits (90 days):</p>
  </div>
  <div class="col-md-4 text-center">
    <p>Total Pull Requests (90 days):</p>
  </div>
</div>

<% if current_user.cohort %>

<hr>

<div class="container">
  <h3><%= current_user.cohort.name %> Leaderboard</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Last Push</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each_with_index do |user, idx| %>
      <tr>
        <th><%= idx + 1 %></th>
        <th><%= image_tag user.image, alt: "#{user.name}'s image", class: 'img-responsive' %></th>
        <th><%= user.name %></th>
        <th><%= time_ago_in_words(user.snapshots.first.last_push) %> ago</th>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>

<% end %>
