<h1>Main#leaderboard</h1>
<p>Find me in app/views/main/leaderboard.html.erb</p>

<h2>
  Hello <%= current_user.name %>
  <small><%= current_user.cohort.name %></small>
</h2>

<div>
  <span>Your last push was</span>
  <span>Total commits (90 days):</span>
  <span>Total Pull Requests (90 days):</span>
</div>

<hr>

<h3><%= current_user.cohort.name %> Leaderboard</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Last Push</th>
    </tr>
  </thead>
  <tbody>

    <% @users.each_with_index do |user, idx| %>
    <tr>
      <th><%= idx + 1 %></th>
      <th><%= image_tag user.image, alt: "#{user.name}'s image", class: 'img-responsive' %></th>
      <th><%= user.name %></th>
      <th><%= time_ago_in_words(user.snapshots.first.last_push) %> ago</th>
    </tr>
    <% end %>

  </tbody>
</table>
