<div class="container">
  <h1>
    Hello <%= current_user.name %>
    <small><%= current_user.cohort.name if current_user.cohort %></small>

    <% if current_user.snapshot %>
    <small class="pull-right">As of <%= time_ago_in_words(current_user.snapshot.updated_at) %> ago</small>
    <% end %>
  </h1>

  <% if current_user.snapshot %>

  <hr>

  <div class="row">

    <div class="col-md-4 text-center">
      <p>Your last push was</p>
      <% if current_user.snapshot.last_push %>
      <h2><%= time_ago_in_words(current_user.snapshot.last_push) %> ago</h2>
      <% else %>
      <h2>N/A</h2>
      <% end %>
    </div>
    <div class="col-md-4 text-center">
      <p>Recent commits:</p>
      <h2><%= current_user.snapshot.commits %></h2>
    </div>
    <div class="col-md-4 text-center">
      <p>Recent Pull Requests</p>
      <h2><%= current_user.snapshot.pull_requests %></h2>
    </div>
  </div>

  <% else %>

  <p>Github snapshots are taken every day. Please check back later to see yours.</p>

  <% end %>

  <hr>

  <% if current_user.admin? %>

  <h2>Cohorts</h2>
  <% @cohorts.each do |cohort| %>
  <div class="well">
    <h2><%= link_to cohort.name, cohort %></h2>
  </div>
  <% end %>

  <hr>

  <% end %>


  <% if current_user.cohort && current_user.active? %>

  <%= render 'cohorts/leaderboard', cohort: current_user.cohort %>

  <% elsif !current_user.active? %>

  <p>
    Your account is currently marked inactive by GA staff.
    Please contact
    <%= mail_to 'brian.hague@ga.co', 'the site administrator',
      subject: 'I am currently marked inactive',
      body: "User's name: #{current_user.name}\r\nGithub handle: #{current_user.username}" %>
  </p>

  <% else %>

  <p>Your account hasn't been assigned to a cohort yet. Please wait for GA staff to add you.</p>

  <% end %>
</div>
