<!DOCTYPE html>
<html>
  <head>
    <title>Streak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p><%= current_user.inspect %></p>
    <ul>
      <li><%= link_to 'Sign in with Github', user_github_omniauth_authorize_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
    <%= yield %>
  </body>
</html>
